prettytable>=2.2.1
aiohttp>=3.7.4.post0
flatdict>=4.0.1
async-lru>=1.0.3
singledispatchmethod>=1.0
pytest>=7.0.0
pytest-asyncio>=0.21.0
pytest-mock>=3.6.1
requests>=2.26.0
PyYAML>=5.4.1
black==23.1.0
pylint==2.12.2
isort==5.10.1
python-daemon
etcd3-fc
python-prctl
tenacity
psutil
